
  <div class="d-flex p-2 flex-wrap justify-content-center">
    <% @photos.each do |photo| %>
      <div class="d-none d-md-flex">
        <a href="<%= photo.medium500.source_url %>">
          <%= image_tag photo.square150.source_url %>
        </a>
      </div>
      <div class="d-flex d-md-none">
        <a href="<%= photo.medium500.source_url %>">
          <%= image_tag photo.square75.source_url %>
        </a>
      </div>
    <% end %>
  </div>
