<div class="container">

  <div class="d-flex p-2 flex-wrap justify-content-center">
    <% @photos.each do |photo| %>
      <div class="p-1">
        <%# TODO: check if photo exists in that size %>
        <%= image_tag photo.square75.source_url, class: 'rounded' %>
      </div>
    <% end %>
  </div>

</div>
