<div class="container">

  <div class="d-flex p-2 flex-wrap justify-content-center">
    <% @photos.each do |photo| %>
      <div class="p-2 m-1 border rounded">
        <a href="<%= photo.medium500.source_url %>">
          <%= image_tag photo.square150.source_url, class: 'rounded' %>
        </a>
      </div>
    <% end %>
  </div>

</div>
